footer {
    width: 100%;
    position: relative;
    bottom: 0;
    background: linear-gradient(to right, rgb(0, 0, 0), #434b77);
    color: #fff;
    padding: 100px 0 30px;
    border-top-left-radius: 110px;
    font-size: 13px;
    line-height: 20px;
}

footer .row {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

footer .col {
    flex-basis: 25%;
    padding: 10px;
}

footer .col:nth-child(2),
footer .col:nth-child(3) {
    flex-basis: 15%;
}

footer .logo {
    width: 80px;
    margin-bottom: 30px;
}

footer .col h3 {
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}

footer .email-id {
    width: fit-content;
    border-bottom: 1px solid;
    /* margin: 20px; */
}

footer ul li a {
    text-decoration: none;
    color: white;
}

footer form {
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}

footer form .fa {
    font-size: 18px;
    margin-right: 10px;
}

footer form input {
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
}

footer form button {
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}

footer form button .fa {
    font-size: 16px;
    color: #ccc;
}

footer form button .fa:hover {
    color: rgb(111, 111, 231);
}

footer .social-icons .fa {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    background: white;
    margin-right: 15px;
    cursor: pointer;
}

footer .social-icons .fa:hover {
    background-color: rgb(111, 111, 231);
    color: white;
}

footer hr {
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}

footer .copyright {
    text-align: center;
}

footer .underline {
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 32px;
    left: 0;
    overflow: hidden;
}

footer .underline span {
    width: 15px;
    height: 100%;
    background-color: white;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}

@keyframes moving {
    0% {
        left: -20px;
    }
    100% {
        left: 100%;
    }
}

@media (max-width: 700px) {
    footer {
        bottom: unset;
    }
    footer .col {
        flex-basis: 100%;
    }
    footer .col:nth-child(2),
    footer .col:nth-child(3) {
        flex-basis: 100%;
    }
}